[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
psycopg2 = "*"
jinja2 = "*"
basilica = "*"
redis = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
python-decouple = "*"
numpy = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
